<h2>Select Photos - {{client}}</h2>

<form method="POST" action="/save">
    <input type="hidden" name="client" value="{{client}}">

    {% for f in files %}
        <div style="display:inline-block; margin:10px; text-align:center;">
            
            <img 
                src="https://drive.google.com/thumbnail?id={{ f.id }}&sz=w800"
                width="250"
                style="pointer-events:none; user-select:none;"
                draggable="false"
            ><br>
            
            <input type="checkbox" name="photos" value="{{ f.name }}">
            
            <p>{{ f.name }}</p>

        </div>
    {% endfor %}

    <br><br>
    <button type="submit">Save Selection</button>
</form>

<script>
    // Right click disable
    document.addEventListener("contextmenu", event => event.preventDefault());
</script>
